
h1{ 
    text-align: center;
}
body{
    background-color: rgb(233, 230, 230);
}
.container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background-color: rgb(245, 243, 243);
}
H3{
    text-align: center;
    text-transform: uppercase;
}
P{
text-align: center;
text-transform: uppercase;
color: rgb(170, 169, 169);
}
#div1 img{
     width: 100%;
    height: auto;
    vertical-align: auto;

}


#div1{
    background-color: white;
    margin: 1px;
    padding: 1px;
    border: 1px solid #ddd;
    align-content: center;
    text-align: center;
    flex: 0 1 calc(50% - 1rem);
}

@media screen and (min-width:768px) {
    #div1{
        flex: 0 1 calc(33% - 1rem);
    }
}



button{
    background-color: rgb(133, 177, 241);
    height: 30px;
    width: 80px;
    border: none;
    margin-bottom: 20px;
    justify-content: center;
    text-transform: uppercase;
    font-size: 10px;
    color: white;
}

