body{

    background-color: rgb(95, 95, 165);
    display: flex;
    flex-direction: column;
    align-items: center; 
}
section{
    background-color: rgb(247, 244, 244);
    margin: 5px;
    padding: 5px;
    display: flex;
   /* flex-wrap: wrap;*/
   flex-direction: column;
    
}
div{
    display: flex;
    margin: 3px;
    padding: 3px;
}

div img{
    width: 10rem;
    height: 10rem;
    flex-shrink: 1;
 /*  flex-grow: 1;*/

}
div p{
    margin-left: 10px;
    flex-grow: 1;
}
#divMedio{
    background-color: rgb(214, 211, 211);
    margin-left: auto;
    width: 70%;
}


