body{

    background-color: rgb(95, 95, 165);
    display: flex;
    
}
section{
    background-color: rgb(247, 244, 244);
    margin: 5px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    
}
div{
    margin: 3px;
    padding: 3px;
}
#divMedio{
    background-color: rgb(214, 211, 211);
}


