body{
    display: flex;
    background-color: rgb(224, 222, 222);
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
header{
    display: flex;
    background-color: rgb(97, 97, 216);
    margin: 5px;
    padding: 5px;
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}
#contenedor{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    

}
footer{
    text-align: center;
    background-color: black;
    width: 100%;
    flex-shrink: 0;
}
footer p{
    color: grey;
}


