body {
    
}

#menu1 {
    background-color: rgb(93, 93, 216);
}

#lista1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

#lista1 li {
    color: white;
    padding: 15px 20px;
}


@media screen and (max-width: 768px) {
    #lista1 {
        flex-direction: column; 
        justify-content: center;
        align-items: center;
    }

    #lista1 li {
        padding: 10px 0;
        text-align: center;
        width: 100%;
    }
}

/*Segundo menú*/



#menu2 {
    background-color: rgb(70, 85, 175);
    color: white;
    padding: 10px 0;
}

.iconos {
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    gap: 10px;
    list-style: none;
    margin: 0 auto;
    padding: 0;
    text-align: center;
    max-width: 800px;
}

.iconos li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}



.iconos h3 {
    margin: 5px 0 3px;
    font-size: 1.1rem;
}

.iconos p {
    margin: 0;
    font-size: 0.9rem;
}


@media screen and (min-width: 480px) {
    .iconos {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
    }
}


@media screen and (min-width: 768px) {
    .iconos {
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
    }

    .iconos li {
        align-items: flex-start;
    }
}

 #menu2 {
      background-color: rgb(70, 85, 175);
      color: white;
      padding: 10px 0;
    }

    
    .iconos {
      display: grid;
      grid-template-columns: repeat(1, 1fr); 
      gap: 10px;
      list-style: none;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      max-width: 900px;
    }

    .iconos li {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 20px;
    }

    
    .iconos li i {
      font-size: 2rem;
      margin-bottom: 10px;
      
    }

    .iconos h3 {
      margin: 5px 0 3px;
      font-size: 1.05rem;
    }

    .iconos p {
      margin: 0;
      font-size: 0.9rem;
      opacity: 0.95;
    }

    
    @media screen and (min-width: 480px) {
      .iconos {
        grid-template-columns: repeat(2, 1fr);
        text-align: center;
      }
    }

    
    @media screen and (min-width: 768px) {
      .iconos {
        grid-template-columns: repeat(4, 1fr);
        text-align: left;
      }

      .iconos li {
        align-items: flex-start;
      }

      
      .iconos li i {
        margin-left: 6px;
      }
    }

    /* tercer menú*/

    #menu3 {
  background-color: rgb(70, 85, 175);
  
}


.dropdown {
  list-style: none;
 
  display: flex;
  flex-direction: column;  
  text-align: center;
}

.dropdown li {
  position: relative; 
}

.dropdown > li > a {
  display: block;
  color: white;
  text-decoration: none;
  padding: 12px 20px;
  background-color: rgb(70, 85, 175);
}

.dropdown > li > a:hover {
  background-color: rgb(100, 120, 230);
}


.submenu {
  display: none; 
  position: absolute;
  top: 100%; 
  left: 0;
  flex-direction: column;
  width: 200px;
  background-color: rgb(45, 60, 130);
  list-style: none;
 
  z-index: 10;
}


.dropdown li:hover > .submenu {
  display: flex;
}

.submenu li a {
  display: block;
  padding: 10px;
  color: white;
  text-decoration: none;
}

.submenu li a:hover {
  background-color: rgb(226, 74, 66);
}


@media screen and (min-width: 768px) {
  .dropdown {
    flex-direction: row;
    justify-content: space-around;
  }

  .dropdown > li {
    text-align: center;
  }

  .submenu {
    text-align: left;
  }
}

/*menu 4*/

#menu4 {
      background-color: #3b5998; 
      display: flex;
      justify-content: flex-end; 
      align-items: center;
      gap: 25px;
      padding: 12px 30px;
      box-sizing: border-box;
      width: 100%;
    }

    #menu4 a {
      color: white;
      font-size: 1.5rem;
      text-decoration: none;
      transition: color 0.3s ease, transform 0.3s ease;
    }

    /*menu 5*/
    nav#menu {
      position: relative; 
      background-color: #3b5998;
      display: flex;
      justify-content: flex-start;  
      align-items: center;
      padding: 10px 30px;
      flex-wrap: wrap;
    }

    
    ul.menu-principal {
      list-style: none;
      display: flex;
      flex-wrap: wrap;
    }

    ul.menu-principal li {
      position: relative;
    }

    ul.menu-principal > li {
      margin-right: 20px;
    }

    ul.menu-principal a {
      color: white;
      text-decoration: none;
      padding: 8px 12px;
      display: block;
      
    }

    ul.menu-principal a:hover {
      background-color: #2d4373;
    }

    
    ul.submenu1 {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background-color: #d9534f;
      list-style: none;
      min-width: 150px;
    }

    ul.submenu1 li a {
      color: white;
    }

    ul.menu-principal li:hover > ul.submenu1 {
      display: block;
    }

    
    #menu5 {
      position: absolute;
      top: 10px;
      right: 30px;
      display: flex;
      gap: 20px;
    }

    #menu5 a {
      color: white;
      font-size: 1.2rem;
      transition: transform 0.3s ease, color 0.3s ease;
    }

    #menu5 a:hover {
      color: #dfe3ee;
      transform: scale(1.1);
    }

    
    @media (max-width: 768px) {
      nav#menu {
        flex-direction: column;
        align-items: flex-start;
        padding-top: 50px; 
      }
      ul.menu-principal {
        flex-direction: column;
        width: 100%;
      }
      ul.menu-principal > li {
        margin-right: 0;
        width: 100%;
      }
      #menu5 {
        position: absolute;
        top: 10px;
        right: 20px;
      }
    }