body{
    height: 100vh;
    }

header{
    text-align: center;
   }
form{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
}

.form-section{
    border: solid 2px rgb(199, 197, 197);
    margin: 3px;
    padding: 3px;
    height: 25rem;
}
#botones{
    text-align: center;

}
@media (max-width: 481px){
    .form-section{
        
        grid-column: 1;
    }

}
button{
    height: 40px;
}