
body {
  display: flex;
  background-color: rgb(202, 197, 197);
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  
}

section {
  background-color: white;
  border-radius: 8px;
  width: 50%;
  margin: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  
  
}

h2 {
  text-align: center;
}


#formulario {
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.fila {
  display: flex;
  gap: 15px;
}


.campo {
  display: flex;
  flex-direction: column;
  flex: 1;
}



.checkbox {
  display: flex;
  align-items: center;
  gap: 10px;
}


#button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 1rem;
}


@media (max-width: 901px) {
  section {
    width: 50%;
  }

  
  .fila {
    flex-direction: column;
  }
}
