body{
    display: flex;
    background-color: rgb(202, 197, 197);
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}
section{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    background-color: white;
    border-radius: 5px;
    align-items: center;
    margin: 10px;
    padding: 10px;
    flex: 1;

}
form{
    flex: 1;
}
#button{
    background-color: blue;
    color: white;
    inline-size: auto;
    width: 100%;
    height: 40px;
}
